name: docker

on: [push, pull_request]

jobs:
  build:
    name: Build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.0.1

      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          username: Alex950808
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: Alex950808/proxypool038/proxypool
          tag_with_ref: true
